.wrapperContainer{
    position: relative;
    height: 80vh;
}
.wrapperContainer img {
    width: 100%;
    height: inherit;
    position: absolute;
    top: 0;
    left: 0;
}
.overlay{
    background: #00000070;
    position: absolute;
    width: 100%;
    height: inherit ;
    z-index: 2;
}

h1{
    font-size: 3rem;
    position: absolute;
    top: 45%;
    width: 100%;
    text-align: center;
    color: #fff;
    font-weight: 100;
    text-transform: uppercase; 
    z-index: 3;   
}

p{
    padding:  2rem;
}